<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<th:block th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common/mainCommon.css">
</th:block>

</head>
<body>

<th:block th:fragment="beforePagename">
<img src="/static/images/background.png" id="back-img">
<div class="companion-container">
    <div class="left-container">
        <img src="/static/images/logo.png" id="logo">
        <img src="/static/images/main-text.png" id="main-text">

        <div class="search-container">
            <img src="/static/images/button-search.png" class="search-img" alt="Search Button">
            <form id="searchForm" class="search-form">
                <input type="text" id="searchInput" class="search-input" autocomplete="off" placeholder="어떤 상품을 찾으시나요?">
                <button type="submit" class="search-button" aria-label="검색"></button>
            </form>
        </div>
    </div>
    <div class="main-container">
</th:block>
<!-- 여기서부터 직접 복사해서 바디에 넣어주세요 -->
        <div class="header">
            <div class="back-button" onclick="goBack()"><img src="/static/images/back-button.png"></div>
            <h3>페이지명</h3>
        </div>
        <div class="index">
            <span>Index 내용을 여기에 넣으세요.</span>
        </div>
<!-- 여기까지 -->
<th:block th:fragment="fromIndex">
        <div class="bottom-nav">
            <a href="#" class="bottom-nav-item" id="nav-category"><img src="/static/images/inactive_category.png" class="nav-icon"></a>
            <a th:href="@{/}" class="bottom-nav-item" id="nav-home"><img src="/static/images/inactive_home.png" class="nav-icon"></a>
            <a th:href="@{/login/loginForm}" class="bottom-nav-item" id="nav-login"><img src="/static/images/inactive_login.png" class="nav-icon"></a>
        </div>
    </div>
</div>
<script src="/static/js/test.js"></script>
</th:block>

</body>
</html>
