<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<th:block th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common/mainCommon.css">
</th:block>

</head>
<body>

<th:block th:fragment="beforePagename">
<img src="/static/images/background.png" id="back-img">
<div class="companion-container">
    <div class="left-container">
        <div class="left-middle-frame">
            <a th:href="@{/}"><img src="/static/images/logo.png" id="logo" class="left-middle-logo"></a>
            <img src="/static/images/main-text.png" id="main-text" class="left-middle-text">
            <!--<img src="/static/images/button-search.png" class="search-img" alt="Search Button">-->
            <form id="searchForm" class="search-form">
                <input type="text" id="searchInput" class="search-input" autocomplete="off" placeholder="어떤 상품을 찾으시나요?">
                <button type="submit" class="search-button" aria-label="검색"><img src="/static/images/icon/search-white.png" alt="search"></button>
            </form>
        </div>
    </div>
    <div class="main-container">
</th:block>
<!-- 여기서부터 직접 복사해서 바디에 넣어주세요 -->
        <div class="main-header-frame">
            <div class="header-back-btn" onclick="goBack()" ><img src="/static/images/icon/arrow-small-left.png"></div>
            <div class="page-name">페이지명</div>
            <div class="hear-cart-btn" onclick="goCartList()" ><img src="/static/images/icon/cart.png"></div>
        </div>
        <div class="main-board-frame">
            내용을 여기에 넣으세요.
        </div>
<!-- 여기까지 -->
<th:block th:fragment="fromIndex">
        <div class="main-bottom-frame">
            <div onclick="goOrderList()" class="bottom-nav-item" id="nav-order"><img src="/static/images/icon/shopping-list.png" class="nav-order"></div>
            <a th:href="@{/}" class="bottom-nav-item" id="nav-home"><img src="/static/images/icon/house.png" class="nav-icon"></a>
            <a th:href="@{/login/loginForm}" class="bottom-nav-item" id="nav-login"><img src="/static/images/icon/user.png" class="nav-icon"></a>
        </div>
    </div>
</div>
<script src="/static/js/common/common.js"></script>
</th:block>

</body>
</html>
