<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <link rel="stylesheet" href="/static/css/review/goodsReviewUpdate.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<div class="main-header-frame"> <!-- 클래스명 변경-->
    <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
    <div class="page-name">리뷰수정</div> <!-- 페이지명 태그 변경 -->
    <div class="hear-cart-btn" onclick="goCartList()" ><img src="/static/images/icon/cart.png"></div> <!-- 장바구니 추가 -->
</div>
<div class="main-board-frame"> <!-- 전 index -->
    <div id="container"></div>
    <div class="product-details">
        <h2 class="product-details-title">상품 정보</h2>
        <div class="product-info">
            <div class="info-row">
                <div class="info-label">상품번호</div>
                <div class="info-value" th:text="${goodsCommand.goodsNum}"></div>
            </div>
            <div class="info-row">
                <div class="info-label">상품명</div>
                <div class="info-value" th:text="${goodsCommand.goodsName}"></div>
            </div>
            <div class="info-row">
                <div class="info-label">상품가격</div>
                <div class="info-value" th:text="${goodsCommand.goodsPrice}"></div>
            </div>
            <div class="info-row">
                <div class="info-label">배송비</div>
                <div class="info-value" th:text="${goodsCommand.deliveryCost}"></div>
            </div>
            <div class="info-row">
                <div class="info-label">상품설명</div>
                <div class="info-value" th:utext="${#strings.replace(goodsCommand.goodsContent,newLine,'&lt;br /&gt;')}"></div>
            </div>
            <div class="info-row">
                <div class="info-label">조회수</div>
                <div class="info-value" th:text="${goodsCommand.visitCount}"></div>
            </div>
        </div>
        <div class="product-images">
            <img th:src="@{|/static/upload/${goodsCommand.goodsMainStore}|}" alt="Main Product Image" />
            <th:block th:each="goodsImage : ${#strings.arraySplit(goodsCommand.goodsImages,'-')}">
                <img th:src="@{|/static/upload/${goodsImage}|}" alt="Product Image"/>
            </th:block>
        </div>
    </div>
</div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const reviewNum = [[${reviewNum}]];
        /*]]>*/
    </script>
    <script src="/static/js/review/goodsReviewUpdate.js"></script>
    <th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</body>
</html>