<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/review/reviewList.css">
</head>
<body>
    <div class="review-list-frame">
        <div class="review-notice" >
            <span th:if="${list.isEmpty()}">아직 작성된 리뷰가 없습니다.</span>
            <span th:if="${!list.isEmpty()}">상품을 구매하신 분들이 구매 확정 후 작성하신 리뷰입니다.</span>
        </div>
        <th:block th:each=" dto : ${list}">
            <div class="single-review-frame" th:if="${dto.memberId != null}">
                <div class="memberId"><img src="/static/images/icon/pets-foot.png" alt="review-icon"/>[[${dto.memberId}]]</div>
                <div class="review-date">[[${#dates.format(dto.reviewDate,'yyyy-MM-dd')}]]</div>
                <div class="review-content" th:utext="${#strings.replace(dto.reviewContent, newLineChar, '&lt;br /&gt;')}"></div>
            </div>
        </th:block>
    </div>
</body>
</html>