<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Companion</title>
    <link rel="stylesheet" href="/static/css/membership/myModify.css">

</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>

<div class="main-header-frame">
    <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
    <div class="page-name">내 정보 수정</div>
    <div class="hear-cart-btn" onclick="goCartList()" ><img src="/static/images/icon/cart.png"></div>

</div>
<div class="main-board-frame">
<form name="frm" action="memberUpdate" method="post" th:object="${memberCommand}" >
<input type="hidden" name="memberPwCon" value="11111111" />
    <div class="mod">
회원아이디<br/>
    <input type="text" class="input-style" name="memberId" id="memberId" readonly="readonly" th:value="${memberCommand.memberId}">
    <br/><span style="color:red; font-size: 14px;">회원 아이디는 변경할 수 없습니다.</span><br/><br/>

회원비밀번호<br/>
    <input type="password" class="input-style" name="memberPw">
    <br/><span style="color:red; font-size: 14px;">비밀번호를 확인해주세요.</span><br/>
            <span style="color:red" th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}"></span><br/>

회원이름<br/>
    <input type="text" class="input-style" name="memberName" th:value="${memberCommand.memberName}"/><br />
<span style="color:red" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></span><br />

회원주소<br/>
    <input type="text" class="input-style" name="memberAddr" id="sample4_roadAddress" onclick="execDaumPostcode();" th:value="${memberCommand.memberAddr}" readonly="readonly"><br/>
<span style="color:red" th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}"></span><br/>

회원상세주소<br/>
    <input type="text" class="input-style" name="memberAddr2"  th:value="${memberCommand.memberAddr2}"><br/><br/>

우편번호<br/>
    <input type="text" class="input-style" name="memberPost" id="sample4_postcode" readonly="readonly" th:value="${memberCommand.memberPost}"/><br />
<div class="input-r">
성별<br/>
    <input type="radio" name="memberGender" value="M" th:checked="${memberCommand.memberGender == 'M' or memberCommand.memberGender == null}">남자
     <input type="radio" name="memberGender" value="F" th:checked="${memberCommand.memberGender == 'F'}">여자<br/>

</div>
연락처1<br/>
    <input type="tel" class="input-style" name="memberPhone1"  th:value="${memberCommand.memberPhone1}"><br/>
<span style="color:red" th:if="${#fields.hasErrors('memberPhone1')}" th:errors="*{memberPhone1}"></span><br/>

연락처2<br/>
    <input type="tel" class="input-style" name="memberPhone2"  th:value="${memberCommand.memberPhone2}"><br/><br/>

이메일<br/>
    <input type="email" class="input-style" name="memberEmail" id="memberEmail"  th:value="${memberCommand.memberEmail}"><br/>
<span id="emailCheck"></span>
<span style="color:red" th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}"></span><br/>

생년월일<br/><input type="date" class="input-style" name="memberBirth"  th:value="${#dates.format(memberCommand.memberBirth, 'yyyy-MM-dd')}"><br/>
<span style="color:red" th:if="${#fields.hasErrors('memberBirth')}" th:errors="*{memberBirth}"></span><br/>

<input type="submit" id="button" value="회원정보수정">
    </div>
</form>
        </div>

<th:block th:replace="common/mainCommon :: fromIndex"></th:block>


<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/daumAddressScript.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
<script src="/static/js/memberShip/myModify.js"></script>
</body>
</html>