<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <meta charset="UTF-8">
    <title>Companion</title>
    <link rel="stylesheet" href="/static/css/membership/myPw.css">

</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<div class="main-header-frame">
    <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
    <div class="page-name">내 비밀번호 변경</div>
    <a class="hear-cart-btn" th:href="@{/corner/cartList}"><img src="/static/images/icon/cart.png"></a> <!-- 장바구니 추가 -->

</div>
<div class="main-board-frame">

    <form action="myPwUpdate" method="post" name="from" id="frm">
        <div class="area">
        현재비밀번호 <br/> <input class="input-style" type="password" name="oldPw" id="oldPw"/>
        <span id="pwErr"></span><br/>

        새 비밀번호 <br/> <input class="input-style" type="password" name="newPw" id="newPw"/>
        <span id="newPwErr"></span><br/>

        새 비밀번호 확인 <br/> <input class="input-style" type="password" name="newPwCon" id="newPwCon"/>
        <span id="pwConErr"></span><br/><br/>
        <input class="input-style" type="submit" id="button" value="비밀번호 변경"/>
        </div>
    </form>
</div>
<!-- 여기까지 -->
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
<script src="/static/js/memberShip/myNewPw.js"></script>
</body>
</html>