<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Companion</title>
    <link rel="stylesheet" href="/static/css/membership/myPage.css">
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>

<div class="main-header-frame">
    <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
    <div class="page-name">내 정보</div>
    <!-- 직원이 아닐 때만 장바구니 버튼 표시 -->
    <div th:if="${session.auth == null or session.auth.grade != 'emp'}" class="hear-cart-btn" onclick="goCartList()">
        <img src="/static/images/icon/cart.png">
    </div>
    <!-- 직원일 때는 빈 div로 대체 -->
    <div th:if="${session.auth != null and session.auth.grade == 'emp'}" class="hear-cart-btn-placeholder"></div>
</div>
<div class="main-board-frame">
    <div class="myPage-top">
        <span>
            <span class="bold-text" th:text="${authInfoDTO.userName}"></span>님의 마이페이지입니다.
        </span>
    </div>
    <ul>
        <li><a th:href="@{/mypage/myDetail}">내정보 보기</a></li>
        <li><a th:href="@{/mypage/memberUpdate}">내정보 수정</a></li>
        <li><a th:href="@{/mypage/userPwModify}">비밀번호 변경</a></li>
        <li><a th:href="@{/mypage/memberDrop}">회원탈퇴</a></li>
    </ul>
</div>
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
<script src="/static/js/test.js"></script>
</body>
</html>
