<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/member/memberList.js"></script>
    <script src="/static/js/test.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/member/memberList.css">
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<!-- 여기서부터 직접 복사해서 바디에 넣어주세요 -->
    <div class="main-header-frame"> <!-- 클래스명 변경-->
        <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
        <div class="page-name">회원 목록</div> <!-- 페이지명 태그 변경 -->
        <div class="hear-cart-btn" onclick="goCartList()" ><img src="/static/images/icon/cart.png"></div> <!-- 장바구니 추가 -->
    </div>
    <div class="main-board-frame"> <!-- 전 index -->

    <span>
                <!-- 회원 조회 -->
                <div id="adminwork">
                    <div id="searchb">
                <form action="memberList" method="get" id="searchbar">
                            <input type="search" id="searchbarinput" name="searchWord" size="60" th:value="${searchWord}"/>
                            <input type="submit" id="searchbutton" value="회원검색"/></form></div>
                   <div id="regb"><button class="regbutton" onclick="location.href='memberRegist'">회원등록</button>
                   </div></div>
                <form action="membersDelete" method="post" id="frm">
                    <table border="1" width="600" id="membertable">
                    <!-- 체크박스를 이용해 원하는 회원 선택 삭제 -->
                    <tr>
                        <td>번호</td>
                        <td>이름</td>
                        <td>아이디</td>
                        <td>등록일</td>
                        <td>
                            <input type="checkbox" id="checkBoxs"/>
                            <input type="submit" value="삭제"/>
                        </td>
                    </tr>
                    <tr th:each="dto : ${dtos}">
                        <!-- 타임리프에서 href 사용하는 방법: | 또는 @{} -->
                        <td><a th:href="|memberDetail?memberNum=${dto.memberNum}|">[[${dto.memberNum}]]</a></td>
                        <td><a th:href="@{memberDetail(memberNum=${dto.memberNum})}">[[${dto.memberName}]]</a></td>
                        <td>[[${dto.memberId}]]</td>
                        <td>[[${#dates.format(dto.memberRegistDate,'yyyy-MM-dd')}]]</td>
                        <td>
                            <input type="checkbox" name="memDels" th:value="${dto.memberNum}"/>
                        </td>
                    </tr>
                    <tr align="center"><td colspan="5" class="pagination-cell">
                    <th:block th:if="${page <= 1}">
                    [이전]
                    </th:block>
                    <th:block th:if="${page > 1}">
                        <a th:href="@{memberList(page=${page - 1}, searchWord=${searchWord})}">[이전]</a>
                    </th:block>
                    <th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}">
                        <a th:href="@{memberList(page=${i}, searchWord=${searchWord})}">[[${i}]]</a>
                    </th:block>
                    <th:block th:if="${page >= maxPage}">
                        [다음]
                    </th:block>
                    <th:block th:if="${page < maxPage}">
                        <a th:href="@{memberList(page=${page + 1}, searchWord=${searchWord})}">[다음]</a>
                    </th:block>
                    </td></tr>
                    </table>
                </form>

            </span>
</div>
<!-- 여기까지 -->
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</body>
</html>
