.index{
    margin-bottom: 80px;
    margin-left: 20px;
}



.input-style {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      transition: border-color 0.3s;

    }

    .input-style:not([type="radio"]){
    width: 500px;
    }

    .input-style:focus {
      border-color: #007bff;
    }

    .input-r{
        margin: 15px 0px;
    }

    #button {
          padding: 10px 20px;
          font-size: 16px;
          background-color: #FC6B70;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 500px;
          margin-left: 15px;
        }



