

.index{
    margin-bottom: 80px;
    margin-left: 10px;
}



input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 10px;
      outline: none;
      transition: border-color 0.3s;
       width: 400px;
    }

    input:focus {
      border-color: #007bff;
    }


    #button {
          padding: 10px 20px;
          font-size: 16px;
          background-color: #FC6B70;
          color: #fff;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 400px;
          height: 60px;
          margin-left: 11px;
        }



.area{
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 90px;}