<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <link rel="stylesheet" href="/static/css/corner/cartList.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<div class="header">
            <div class="back-button" onclick="goBack()"><img src="/static/images/back-button.png"></div>
            <h3>장바구니</h3>
        </div>

        <div class="index">
            <div th:if="${#lists.isEmpty(list)}" class="empty-cart-message">
                구매하실 제품을 장바구니에 담아 주세요.
            </div>
            <form th:if="${not #lists.isEmpty(list)}" action="/purchase/goodsBuy" method="post" class="purchase-form">
                <div class="cart-container">
                    <div class="cart-header">
                        <div class="cart-all-check"><input type="checkbox" id="checkBoxs" checked="checked"/>전체선택</div>
                        <div class="cart-select-button"><input type="button" value="선택 상품 삭제" onclick="del1();"/></div>
                    </div>
                    <div th:each=" dto: ${list}" class="cart-row">
                        <div class="cart-each-check"><input type="checkbox" name="prodCk" checked="checked"
                                    th:value="${dto.goodsDTO.goodsNum}"/></div>
                        <div class="cart-image">
                            <a th:href="@{/corner/detailView/{goodsNum}(goodsNum=${dto.goodsDTO.goodsNum})}">
                                <img th:src="|/static/upload/${dto.goodsDTO.goodsMainStore}|"/>
                            </a>
                        </div>                        <div class="cart-section">
                        <div class="cart-product-name">[[${dto.goodsDTO.goodsName}]]</div>
                        <div class="cart-quantity">
                            <a th:href="|javascript:checkQty('${dto.goodsDTO.goodsNum}');|"> - </a>
                            <span th:id="${dto.goodsDTO.goodsNum}">[[${dto.cartDTO.cartQty}]]</span>
                            <a th:href="|javascript:cartAdd('${dto.goodsDTO.goodsNum}','${dto.goodsDTO.goodsPrice}')|"> + </a>
                        </div>
                        <div class="cart-price">합계: <span th:id="${'t_'+ dto.goodsDTO.goodsNum}" class="totalPrice">[[${dto.totalPrice}]]</span>원</div>
                        <div class="cart-delivery">배송비: <span class="deliveryCost">[[${dto.goodsDTO.deliveryCost}]]</span>원</div>
                        </div>
                        <div class="cart-button"><input type="button" value="삭제" th:attr="onclick=|del('${dto.goodsDTO.goodsNum}');|"/></div>
                    </div>
                    <div class="cart-footer">
                        <div class="cart-summary">
                            상품수 : <span id="prodCnt">[[${list.size}]]</span>개<br/>
                            전체 금액 : <span id="sumPrice">[[${sumPrice}]]</span>원<br/>
                            <input type="submit" value="구매하기" id="purchaseButton"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
<script type="text/javascript">
    $(function(){
        function checkEmptyCart() {
            if ($('.cart-row').length === 0) {
                $('.empty-cart-message').show();
                $('#purchaseButton').hide();
        } else {
                $('.empty-cart-message').hide();
                $('#purchaseButton').show();
            }
        }
        checkEmptyCart();

        $("#checkBoxs").click(function(){
            if($("#checkBoxs").prop("checked")){
                $("input:checkbox[name=prodCk]").prop("checked", true);
            }else{
                $("input:checkbox[name=prodCk]").prop("checked", false);
            }
            goodsChk();
        });
        $("input:checkbox[name=prodCk]").click(function(){
            var tot = $("input:checkbox[name=prodCk]").length;
            var checked = $("input:checkbox[name=prodCk]:checked").length;
            if(tot == checked){
                $("#checkBoxs").prop("checked",true);
            }else{
                $("#checkBoxs").prop("checked",false);
            }
            goodsChk();
        });
    });
    function del1(){
        var chk_arr = [];
        $("input[name='prodCk']:checked").each(function(){
            chk_arr.push($(this).val());
        });
        $.ajax({
            url: "cartDels" ,
            type : "post",
            dataType:"text",
            data:{"goodsNums" : chk_arr},
            success : function(result){
                if(result == "200"){
                    location.reload();
                }else{
                    alert("삭제되지 않았습니다.");
                }
                checkEmptyCart();
            },
            error : function () {
                alert("삭제할 상품을 하나 이상 선택하여 주세요.");
            }
        });
    }
    function del(goodsNum){
        location.href="cartDel?goodsNum="+goodsNum;
    }
    function goodsChk(){
        var chkLeng  = $("input[name=prodCk]");
        var cnt = 0;
        var sumPrice = 0;
        for(var i = 0; i < chkLeng.length; i++){
            if(chkLeng[i].checked == true){
                cnt++;
                sumPrice += Number($(".totalPrice:eq("+i+")").text())
                           +  Number($(".deliveryCost:eq("+i+")").text());
            }
        }
        $("#prodCnt").text(cnt);
        $("#sumPrice").text(sumPrice);
    }
    function cartAdd(goodsNum , goodsPrice){
        $.ajax({
            type : "get",
            url : "cartAdd",
            dataType : "text",
            data : {"goodsNum" : goodsNum , "qty" : 1},
            success : function(result){
                if(result.trim() == "200"){
                var currentQty = Number($("#"+goodsNum).text()) + 1;
                var newTotalPrice = currentQty * Number(goodsPrice);
                $("#"+goodsNum).text(currentQty);
                $("#t_"+goodsNum).text(newTotalPrice);
                goodsChk();
                }
            },
            error : function(){
                alert('에러 발생');
            },
            complete:goodsChk
        });
    }
    function checkQty(goodsNum){
        if($("#"+goodsNum).text() > 1 ){
            $.ajax({
                type : "get",
                dataType : "text",
                url : "cartQtyDown",
                data : {"goodsNum" : goodsNum},
                success : function(result){
                    var data = JSON.parse(result);
                    $("#"+goodsNum).text(data.cartDTO.cartQty);
                    $("#t_"+goodsNum).text(data.cartDTO.cartQty * data.goodsDTO.goodsPrice);
                    goodsChk();
                },
                error : function(){
                    alert('에러 발생');
                },
                complete:goodsChk
            });
        }else{
            alert("최소 수량이 1이어야 합니다.");
            return false;
        }
    }
</script>
</body>
</html>