<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>companion</title>
</head>
<body>
<table width="800" align="center">
	<tr><td colspan="2">([[${dto.goodsDTO.goodsName}]]) 상품정보 입니다. | 상품 조회수 : [[${dto.goodsDTO.visitCount}]]</td></tr>
	<tr><td rowspan="6" width="300px">
			<img th:src="|/static/upload/${dto.goodsDTO.goodsMainStore}|" alt="상품이미지"/></td>
		<td>상품명 : [[${dto.goodsDTO.goodsName}]]</td>
	</tr>
	<tr><td>카테고리 :
	<span th:if="${dto != null and dto.goodsDTO != null and dto.goodsDTO.goodsCategory != null}">
    [[${#strings.arraySplit(dto.goodsDTO.goodsCategory, ':')[0]}]] >
    [[${#strings.arraySplit(dto.goodsDTO.goodsCategory, ':')[1]}]]
	</span>
	<span th:unless="${dto != null and dto.goodsDTO != null and dto.goodsDTO.goodsCategory != null}">
		카테고리 정보 없음	</span></td></tr>
	<tr><td>가격 : [[${#numbers.formatCurrency(dto.goodsDTO.goodsPrice)+'원'}]]</td></tr>
	<tr><td>배송비 <span th:if="${dto.goodsDTO.deliveryCost == 0}">무료배송</span>
				  <span th:if="${dto.goodsDTO.deliveryCost != 0}">
					[[${#numbers.formatCurrency(dto.goodsDTO.deliveryCost) + '원'}]]</span></td></tr>
	<tr><td>수량 : <input type="number" min=1 step="1" value="1" id="qty" name="qty" /></td></tr>
	<tr><td>총 상품금액 : [[${#numbers.formatCurrency(dto.goodsDTO.goodsPrice) + '원'}]]<span id="tot"></span></td></tr>
	<tr><td><!--  재고가 있을 때만 버튼이 보이게  -->
			<button type="button" id="cartBtn" th:if="${dto.stock > 0 }">  장바구니 |</button>
			<button type="button" id="buyItem" th:if="${dto.stock > 0 }"> 바로구매  |</button>
			<span th:if="${dto.stock <= 0 }" >  입고 예정 상품입니다  </span> |
			 찜
		</td>
	</tr>
	<tr><td colspan="2">남은 수량 :[[${dto.stock}]] 개</td></tr>
	<tr><td colspan="2"><p>
				<span id="descript">제품 상세 설명</span> |
				<span id="review">리뷰</span> |
				<span id="inquire" >상품문의</span>
			</p>
		</td>
	</tr>
</table>
</body>
</html>