<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <link rel="stylesheet" href="/static/css/corner/wishList.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<div class="main-header-frame"> <!-- 클래스명 변경-->
    <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
    <div class="page-name">관심목록</div> <!-- 페이지명 태그 변경 -->
    <!-- 직원이 아닐 때만 장바구니 버튼 표시 -->
    <div th:if="${session.auth == null or session.auth.grade != 'emp'}" class="hear-cart-btn" onclick="goCartList()">
        <img src="/static/images/icon/cart.png">
    </div>
    <!-- 직원일 때는 빈 div로 대체 -->
    <div th:if="${session.auth != null and session.auth.grade == 'emp'}" class="hear-cart-btn-placeholder"></div>
</div>
<div class="main-board-frame"> <!-- 전 index -->
            <form action="goodsWishDels" id="frm" method="post">
                <div class="product-list">
                    <div class="product-header">
                        <div>번호</div>
                        <div>이미지</div>
                        <div>상품이름</div>
                        <div>가격</div>
                        <div>
                            <input type="checkbox" id="checkBoxs"/>
                            <input type="submit" id="submit" value="선택 삭제"/>
                        </div>
                    </div>

                    <div th:each="dto, idx : ${dtos}" class="product-item">
                        <div>[[${idx.count}]]</div>
                        <div><img th:src="|/static/upload/${dto.goodsMainStore}|" alt="상품이미지"/></div>
                        <div><a th:href="@{/goods/goodsDetail(goodsNum=${dto.goodsNum})}">[[${dto.goodsName}]]</a></div>
                        <div>[[${dto.goodsPrice}]]</div>
                        <div>
                            <input type="checkbox" name="wishGoodsDel" th:value="${dto.goodsNum}"/>
                            <button type="button" th:attr='onclick=|location.href="wishDel?goodsNum=${dto.goodsNum}"|'>
                                삭제
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
<script type="text/javascript">
    $(function(){
        $("#frm").submit(function(){
            if($("input:checkbox[name=wishGoodsDel]:checked").length < 1){
                alert("하나이상 선택하세요.");
                return false;
            }
        });
        $("#checkBoxs").click(function(){
            if($("#checkBoxs").prop("checked")){
                $("input:checkbox[name=wishGoodsDel]").prop("checked", true);
            }else{
                $("input:checkbox[name=wishGoodsDel]").prop("checked", false);
            }
        });
        $("input:checkbox[name=wishGoodsDel]").click(function(){
            var tot = $("input:checkbox[name=wishGoodsDel]").length;
            var checked = $("input:checkbox[name=wishGoodsDel]:checked").length;
            if(tot == checked){
                $("#checkBoxs").prop("checked",true);
            }else{
                $("#checkBoxs").prop("checked",false);
            }
        });
    });
</script>
<script src="/static/js/test.js"></script>
</body>
</html>