<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <link rel="stylesheet" href="/static/css/goodsIncoming/goodsIncoming.css">
    <meta charset="UTF-8">

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
<script src="/static/js/goodsIncoming/goodsIncoming.js"></script>

</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<!-- 여기서부터 직접 복사해서 바디에 넣어주세요 -->
    <div class="main-header-frame"> <!-- 클래스명 변경-->
        <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
        <div class="page-name">페이지명</div> <!-- 페이지명 태그 변경 -->
        <a class="hear-cart-btn" th:href="@{/corner/cartList}"><img src="/static/images/icon/cart.png"></a> <!-- 장바구니 추가 -->
    </div>
    <div class="main-board-frame"> <!-- 전 index -->

<form action="incomingRegist" method="post" name="frm" id="frm">
<div class="goods-details-container">
<div class="goods-info">
             <div class="info-row">
                    <div class="info-label">입고번호<span style="color:red; font-size: 13px;">(자동 부여)</span></div>
                        <div class="info-value"><input type="text" name= "goodsIncomingNum" th:value="${incomingNum}"/>
                     </div>
             </div>
        <div class="info-row">
                <div class="info-label">상품번호</div>
            <div class="info-value">
            <div id = "side-button">
    <input type="text" name= "goodsNum" id="goodsNum" readonly="readonly"/>
        <button type="button" id="btn" >상품 검색</button></div><!-- 팝업창을 이용하여 입고 할 상품 검색-->
            </div>
        </div>
               <div class="info-row">
                   <div class="info-label"> 상품명</div>
                        <div class="info-value">
    <input type="text" name= "goodsName" id="goodsName"/>
                        </div>
               </div>
                            <div class="info-row">
                                <div class="info-label">입고일</div>
   <div class="info-value"> <input type="date" name= "IncomingDate" />
   </div>
                            </div>
       <div class="info-row">
           <div class="info-label">입고 수량</div>
    <div class="info-value"><input type="number" name= "IncomingQty"  min="0" />
    </div>
       </div>
       <div class="info-row">
           <div class="info-label"> 제조일</div>
    <div class="info-value"><input type="datetime-local" name= "productionDate" />
    </div>
       </div>
        <div class="info-row">
            <div class="info-label">가격</div>
    <div class="info-value"><input type="number" name= "IncomingPrice" min="0"/>
    </div>
        </div>
    <div class="form-actions">
        <input type="submit" class="submit-button" id="button" value="입고 등록" />
        </div>
    </div>
</div>
</form>
    <th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</div>
</body>
</html>