<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="common/mainCommon :: head"></th:block>
    <meta charset="UTF-8">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
<script src="/static/js/goods/goodsList.js"></script>
<link rel="stylesheet" href="/static/css/goods/goodsList.css">
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>

        <!-- 여기서부터 직접 복사해서 바디에 넣어주세요 -->
    <div class="main-header-frame"> <!-- 클래스명 변경-->
        <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
        <div class="page-name">상품 리스트</div> <!-- 페이지명 태그 변경 -->
		<!-- 직원이 아닐 때만 장바구니 버튼 표시 -->
		<div th:if="${session.auth == null or session.auth.grade != 'emp'}" class="hear-cart-btn" onclick="goCartList()">
			<img src="/static/images/icon/cart.png">
		</div>
		<!-- 직원일 때는 빈 div로 대체 -->
		<div th:if="${session.auth != null and session.auth.grade == 'emp'}" class="hear-cart-btn-placeholder"></div>
	</div>
    <div class="main-board-frame"> <!-- 전 index -->

            <span>

	<div id="regclass">
	<button class="regbutton" onclick="location.href='goodsForm'">상품 추가</button>
	<button class="regbutton" onclick="location.href='goodsIncoming'">상품 입고</button>
	<button class="regbutton" onclick="location.href='goodsIncomingList'">상품 입고 현황</button>
	</div>

<div id="searchb">
<form action="goodsList" method="get" id="searchbar">
			<input type="search" name="searchWord" id="searchbarinput" size="60" th:value="${searchWord}"/>
			<input type="submit" id="searchbutton" value="검색"/>
</form>
</div>


<form action="productsDelete" method="post" id="frm">
<table border=1 width="600" align="center" id="goodstable">
 <tr>
    <td colspan="6" class="text-right">
        <span style="color:red" th:if="${errorMessage}" th:text="${errorMessage}"></span>
        <span style="color:red" th:unless="${errorMessage}">* 상품 입고 후에는 해당하는 상품을 삭제할 수 없습니다</span>
    </td>
</tr>

	<tr>
		<td>번호</td>
		<td>상품번호</td>
		<td>상품명</td>
		<td>상품가격</td>
		<td>등록일</td>
		<td>
			<input type="checkbox" id="checkBoxs"/>
			<input type="submit" value="선택삭제"/>
		</td>
	</tr>
	<tr th:each="dto, cnt : ${dtos}">
		<td>[[${cnt.count}]]</td>
		<td><a th:href="|goodsDetail?goodsNum=${dto.goodsNum}|">[[${dto.goodsNum}]]</a></td>
		<td><a th:href="@{goodsDetail(goodsNum=${dto.goodsNum})}">[[${dto.goodsName}]]</a></td>
		<td>[[${dto.goodsPrice}]]</td>
		<td>[[${#dates.format(dto.goodsRegist,'yyyy-MM-dd')}]]</td>
		<td>
			<input type="checkbox" name="memDels" th:value="${dto.goodsNum}"/>
		</td>
	</tr>
</form>
	<tr align="center"><td colspan="6" class="pagination-cell">
		<th:block th:if="${page <= 1}">
		[이전]
		</th:block>
		<th:block th:if="${page > 1}">
		<a th:href="@{goodsList(page=${page - 1},searchWord=${searchWord})}">[이전]</a>
		</th:block>

		<th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}">
		<a th:href="@{goodsList(page=${i},searchWord=${searchWord})}">[[${i}]]</a>
		</th:block>
		<th:block th:if="${page >= maxPage}">
		[다음]
		</th:block>
		<th:block th:if="${page < maxPage}">
		<a th:href="@{goodsList(page=${page + 1}, searchWord=${searchWord})}">[다음]</a>
		</th:block>
		</td>
	</tr>
</table>
			</span>
        </div>

<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</body>
</html>