<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <link rel="stylesheet" href="/static/css/goods/goodsForm.css">
    <meta charset="UTF-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
    <script src="/static/js/goods/goodsForm.js"></script>
</head>
<body>
    <th:block th:replace="common/mainCommon :: beforePagename"></th:block>
   <!-- 여기서부터 직접 복사해서 바디에 넣어주세요 -->
    <div class="main-header-frame"> <!-- 클래스명 변경-->
        <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
        <div class="page-name">페이지명</div> <!-- 페이지명 태그 변경 -->
        <a class="hear-cart-btn" th:href="@{/corner/cartList}"><img src="/static/images/icon/cart.png"></a> <!-- 장바구니 추가 -->
    </div>
    <div class="main-board-frame"> <!-- 전 index -->

        <form action="goodsWrite" method="post" name="frm" id="frm" th:object="${goodsCommand}" enctype="multipart/form-data">
            <div class="goods-details-container">
                <div class="goods-info">
                    <div class="info-row">
                        <div class="info-label">상품번호<span style="color:red; font-size: 13px;">(자동 부여)</span></div>
                        <div class="info-value"><input type="text" name="goodsNum" th:value="${goodsCommand.goodsNum}" readonly="readonly"/></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">카테고리</div>
                        <div class="info-value">
                            <select id="goodsCategory" name="goodsCategory" th:field="*{goodsCategory}" required>
                                <option value="">카테고리 선택</option>
                                <option value="사료">사료</option>
                                <option value="간식">간식</option>
                                <option value="용품">용품</option>
                            </select>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">상품명</div>
                        <div class="info-value">
                            <input type="text" name="goodsName"  th:value="${goodsCommand.goodsName}" /><br />
                            <span style="color:red" th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}"></span>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">상품가격</div>
                        <div class="info-value">
                            <input type="number" name="goodsPrice" min="0" th:field="*{goodsPrice}" /><br />
                            <span style="color:red" th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}"></span>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">배송비</div>
                        <div class="info-value">
                            <input type="number" name="deliveryCost" min="0" max="5000" step="50" th:field="*{deliveryCost}"  /><br />
                            <span style="color:red" th:if="${#fields.hasErrors('deliveryCost')}" th:errors="*{deliveryCost}"></span>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">상품설명</div>
                        <div class="info-value">
                            <textarea rows="10" cols="50" name="goodsContent" th:text="${goodsCommand.goodsContent}"></textarea><br />
                            <span style="color:red" th:if="${#fields.hasErrors('goodsContent')}" th:errors="*{goodsContent}"></span>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">대문이미지</div>
                        <div class="info-value">
                            <input type="file" name="goodsMainStore" id="mainFile" class="file-input"/><br/>
                            <span style="color:red" th:if="${#fields.hasErrors('goodsMainStore')}" th:errors="*{goodsMainStore}"></span>
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">설명 이미지</div>
                        <div class="info-value">
                            <input type="file" name="goodsImages" multiple="multiple" class="file-input"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="button" id="btn" value="상품 등록" class="submit-button"/>
                </div>
            </div>
        </form>
    </div>
    <th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</body>
</html>