
#searchbar{
    justify: center;

}
#searchbarinput {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 490px;
}

#searchbarinput:focus {
    border-color: #FC6B70;
}

#searchbutton {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FC6B70;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    margin-bottom: 3px;
    width: 80px;
}

#searchbutton:hover {
    background-color: #fb5256;
}
#regclass{
    margin-bottom: 10px;
}
.regbutton {
    padding: 10px 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FC6B70;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 16px;
    margin-bottom: 3px;
    width: 30%;

}

.regbutton:hover {
    background-color: #fb5256;
}


#frm {
    margin-top: 10px;
}

#goodstable {
    width: 100%;
    border-collapse: collapse;
    font-size:14px;
}

#goodstable td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

#goodstable a:hover,
#goodstable .pagination-cell a:hover {
    color: #004080;
}

#goodstable input[type="checkbox"] {
    margin-right: 5px;
}

#goodstable input[type="submit"] {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #FC6B70;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#goodstable input[type="submit"]:hover {
    background-color: #fb5256;
}

#goodstable .pagination-cell {
    text-align: center;
    padding: 5px 0;
}

#goodstable .pagination-cell span {
    color: #999;
}

#goodstable td:nth-child(3) {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

#goodstable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#goodstable td:nth-child(3):hover::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    border: none;
}