<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="common/mainCommon :: head"></th:block>
    <meta charset="UTF-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="/static/js/employee/employeeList.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/employee/employeeList.css">
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<!-- 여기서부터 직접 복사해서 바디에 넣어주세요 -->
    <div class="main-header-frame"> <!-- 클래스명 변경-->
        <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
        <div class="page-name">직원 목록</div> <!-- 페이지명 태그 변경 -->
		<!-- 직원이 아닐 때만 장바구니 버튼 표시 -->
		<div th:if="${session.auth == null or session.auth.grade != 'emp'}" class="hear-cart-btn" onclick="goCartList()">
			<img src="/static/images/icon/cart.png">
		</div>
		<!-- 직원일 때는 빈 div로 대체 -->
		<div th:if="${session.auth != null and session.auth.grade == 'emp'}" class="hear-cart-btn-placeholder"></div>
	</div>
    <div class="main-board-frame"> <!-- 전 index -->

    <span>

				    <div id="adminwork">
					<div id="searchb">
					<form action="employeeList" method="get" id="searchbar">
								<input type="search" id="searchbarinput" name="searchWord" th:value="${searchWord}"/>
								<input type="submit" id="searchbutton" value="직원검색"/></form></div>
					<div id="regb"><button class="regbutton" onclick="location.href='empRegist'">직원등록</button>
					</div></div>
					<form action="empsDelete" method="post" id="frm">
					<table border=1 width=600px id="employeetable">
						<tr>
							<td>직원번호</td>
							<td>직원아이디</td>
							<td>직원이름</td>
							<td>등록일</td>
							<td>연락처</td>
							<td><input type="checkbox" id="checkBoxs"/>
								<input type="submit" value="삭제"/>
							</td>
						</tr>
					<tr th:each="dto : ${dtos}">
						<td><a th:href="|employeeDetail?empNum=${dto.empNum}|">[[${dto.empNum}]]</a></td>
						<td><a th:href="@{employeeDetail(empNum=${dto.empNum})}|">[[${dto.empId}]]</a></td>
						<td>[[${dto.empName}]]</td>
						<td>[[${#dates.format(dto.empRegiDate,'yyyy-MM-dd')}]]</td>
						<td>[[${dto.empPhone}]]</td>
						<td><input type="checkbox" name="empDels" th:value="${dto.empNum}"/></td>
					</tr>

					<tr align="center"><td colspan="6" class="pagination-cell">
						<th:block th:if="${page <= 1}">
						[이전]
						</th:block>
						<th:block th:if="${page > 1}">
						<a th:href="@{employeeList(page=${page - 1},searchWord=${searchWord})}">[이전]</a>
						</th:block>
						<th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}">
						<a th:href="@{employeeList(page=${i},searchWord=${searchWord})}">[[${i}]]</a>
						</th:block>
						<th:block th:if="${page >= maxPage}">
						[다음]
						</th:block>
						<th:block th:if="${page < maxPage}">
						<a th:href="@{employeeList(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
						</th:block>
						</td>
					</tr>
					</table>
					</form>

           </span>
</div>
<!-- 여기까지 -->
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</body>
</html>


