<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <link rel="stylesheet" href="/static/css/purchase/buyfinished.css">
    <meta charset="UTF-8">
    <title>companion</title>
</head>
<body>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>
<div class="main-header-frame"> <!-- 클래스명 변경-->
    <div class="back-button" onclick="goBack()"><img src="/static/images/back-button.png"></div>
<div class="page-name">결제완료</div> <!-- 페이지명 태그 변경 -->
<div class="hear-cart-btn" onclick="goCartList()" ><img src="/static/images/icon/cart.png"></div> <!-- 장바구니 추가 -->
</div>
<div class="main-board-frame"> <!-- 전 index -->
    <div class="confirmation-container">
        <div class="confirmation-text">
            [[${userId }]]님 [[${price }]]원이 결제 완료되었습니다.
        </div>
        <div class="links">
            <a href="orderList">구매리스트로 가기</a>
            |
            <a href="/">홈</a>
        </div>
    </div>
</div>
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</body>
</html>