<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Companion</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/purchase/purchaseDetail.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
  <script type="text/javascript">
    $(function(){
        $("#btn").click(function(){
            opener.location.reload();
            window.self.close();
        });
    });
  </script>
</head>
<body>
<div class="container">
  <div class="header">
    <h1>상세보기</h1>
  </div>
  <hr />
  <div class="section">
    <div class="details" th:each="dto : ${dto.purchaseListGoodsDTOs}">
      <div class="img-wrapper"><img th:src="|/static/upload/${dto.goods.goodsMainStore}|" alt="상품 이미지"/></div>
      <div class="product-info">
        <div class="info">
          <span class="price">제품가격 : [[${#numbers.formatCurrency(dto.goods.goodsPrice)}]]원</span>
          <span class="quantity">주문수량 : [[${dto.purchaseList.purchaseQty}]]개</span>
          <span class="shipping">배송비 :
            <span th:if="${dto.goods.deliveryCost == 0}" th:text="무료배송"></span>
            <span th:if="${dto.goods.deliveryCost != 0}">[[${dto.goods.deliveryCost}]]원</span>
          </span>
      </div>
      <div class="description">
        <b>상품설명</b>
        <span th:utext="${#strings.replace(dto.goods.goodsContent, newLineChar, '&lt;br &gt;')}"></span>
      </div>
    </div>
  </div>
  <div class="section order-info">
    <div>
      <h2>주문내용</h2>
      주문번호 : [[${dto.purchaseDTO.purchaseNum}]]<br />
      주문날짜 : [[${#dates.format(dto.purchaseDTO.purchaseDate,'yyyy-MM-dd')}]]<br />
      주문금액 : [[${dto.purchaseDTO.purchasePrice}]]<br />
      배송지 : [[${dto.purchaseDTO.deliveryAddr +' '+ dto.purchaseDTO.deliveryAddrDetail}]]<br />
      연락처 : [[${dto.purchaseDTO.deliveryPhone}]]<br />
      받는사람 : [[${dto.purchaseDTO.deliveryName}]] <br />
      주문메세지 : [[${dto.purchaseDTO.message}]]<br />
    </div>
  </div>
  <div class="section payment-info">
    <div th:if="${dto.paymentDTO.appldate != null}">
      <h2>결제내용</h2>
      결제번호 : [[${dto.paymentDTO.confirmnumber}]]<br />
      결제방법 : [[${dto.paymentDTO.paymethod}]]<br />
      결제금액 : [[${dto.paymentDTO.totalprice}]]<br />
      결제 일 : [[${dto.paymentDTO.appldate +' '+ dto.paymentDTO.appltime}]]<br />
      카드번호 : [[${dto.paymentDTO.cardnum}]]<br />
    </div>
    <div th:if="${dto.paymentDTO.appldate == null}">결제 정보가 없습니다.</div>
  </div>
  <div class="section delivery-info" th:if="${dto.paymentDTO.appldate != null}">
    <div th:if="${dto.deliveryDTO.deliveryNumber != null}">
      <h2>배송정보</h2>
      <form action="/delivery/deliveryDel" method="post">
        <input type="hidden" name="purchaseNum" th:value="${dto.purchaseDTO.purchaseNum}"/>
        <div>택배사: [[${dto.deliveryDTO.deliveryCompany}]]</div>
        <div>송장번호: [[${dto.deliveryDTO.deliveryNumber}]]</div>
        <div th:if="${dto.purchaseDTO.purchaseStatus != '구매확정' and dto.deliveryDTO.deliveryState != '배송완료'}">
          <div class="button-container"><input type="submit" value="배송정보삭제"/></div>
        </div>
      </form>
    </div>
    <div th:if="${dto.deliveryDTO.deliveryNumber == null and dto.paymentDTO.appldate != null}">
      <h2>배송정보입력</h2>
      <form action="/delivery/deliveryAction" method="post">
        <input type="hidden" name="purchaseNum" th:value="${dto.purchaseDTO.purchaseNum}"/>
        <div>
          <label for="deliveryCompany">배송회사</label>
          <select name="deliveryCompany" id="deliveryCompany">
            <option>한진택배</option>
            <option>대한통운택배</option>
            <option>우체국택배</option>
          </select>
        </div>
        <div>
          <label for="deliveryNumber">송장번호</label>
          <input type="text" name="deliveryNumber" id="deliveryNumber" required="required"/>
        </div>
        <div class="button-container">
          <input type="submit" value="배송정보등록"/>
        </div>
      </form>
    </div>
  </div>
  <div class="button-container">
    <button type="button" id="btn">닫기</button>
  </div>
</div>
</div>
</body>
</html>