<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <link rel="stylesheet" href="/static/css/purchase/purchaseList.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
</head>
<th:block th:replace="common/mainCommon :: beforePagename"></th:block>

<div class="main-header-frame"> <!-- 클래스명 변경-->
    <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
    <div class="page-name">주문내역</div> <!-- 페이지명 태그 변경 -->
    <div class="hear-cart-btn" onclick="goCartList()" ><img src="/static/images/icon/cart.png"></div> <!-- 장바구니 추가 -->
</div>
<div class="main-board-frame"> <!-- 전 index -->
    <div class="order-list">
        <div class="order-list-header">
            <div class="order-date-payment">주문일</div>
            <div class="order-product-number">상품명/주문번호</div>
            <div class="order-status">주문상태</div>
        </div>
        <div class="order-item" th:each="orderListDTO : ${list}">
            <div class="order-date-payment">
                <div class="order-date">[[${#dates.format(orderListDTO.purchaseDTO.purchaseDate,'yyyy-MM-dd')}]]</div>
                <div class="order-payment">
                    <th:block th:if="${orderListDTO.paymentDTO.appltime == null}">
                        결제대기중
                    </th:block>
                    <th:block th:if="${orderListDTO.paymentDTO.appltime != null}">
                        <th:block th:if="${orderListDTO.paymentDTO.confirmnumber == null}">
                            현금결제
                        </th:block>
                        <th:block th:if="${orderListDTO.paymentDTO.confirmnumber != null}">
                            [[${orderListDTO.paymentDTO.confirmnumber}]]
                        </th:block>
                    </th:block>
                </div>
            </div>
            <div class="order-product-info">
                <div class="order-product">
                    <th:block th:each="dto : ${orderListDTO.purchaseListGoodsDTOs}">
                        [[${dto.goods.goodsName}]]
                    </th:block>
                </div>
                <div class="order-number">
                    [[${orderListDTO.purchaseDTO.purchaseNum}]]
                </div>
            </div>
            <div class="order-status">
                <a th:href="|javascript:detail('${orderListDTO.purchaseDTO.purchaseNum}')|">주문상세보기</a>
                <span th:if="${orderListDTO.purchaseDTO.purchaseStatus == '입금대기중'}">
                    <span class="status-waiting">결제대기중</span>
            </span>
                <span th:if="${orderListDTO.purchaseDTO.purchaseStatus != '입금대기중'}">
                <span th:if="${orderListDTO.deliveryDTO.deliveryState == null}">
                    <a th:href="@{purchaseStatus(
                        purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}
                    )}">[[${orderListDTO.purchaseDTO.purchaseStatus}]]</a>
                </span>
                        </span>
                <span th:if="${orderListDTO.deliveryDTO.deliveryState == '배송중' }">
                            <a th:href="|/delivery/deliveryState?purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}|">
                                <span class="status-ongoing">[[${orderListDTO.deliveryDTO.deliveryState}]]</span></a>
                        </span>
                <span th:if="${orderListDTO.deliveryDTO.deliveryState == '배송완료' }">
                            <span class="status-complete">[[${orderListDTO.deliveryDTO.deliveryState}]]</span>
                        </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function detail(purchaseNum){
        window.open("purchaseDetail?purchaseNum="+purchaseNum
                ,"purchaseDetail","top='100',left='100',width=600,height=800");
    }
</script>
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
</body>
</html>