<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>companion</title>
   <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
   <script src="/static/js/category.js"></script>
</head>
<body>
<!-- 대분류 카테고리 탭 -->
<div id="categorynav">
   <button data-category="all">전체</button>
   <button th:each="category : ${categoryMap.keySet()}" th:data-category="${category}" th:text="${category}"></button>
</div>

<!-- 상품목록 출력과 관심상품 -->
<div id="categoryindex">
   <div id="allCategory" class="categoryContent">
           <div>전체 상품</div>
           <table align="center" width="600">
               <tr>
                   <th:block th:each="category : ${categoryMap.keySet()}">
                       <th:block th:each="dto, idx : ${categoryMap.get(category)}">
                           <td>
                               <a th:href="|/corner/detailView/${dto.goodsNum}|">
                                   <img th:src="@{|/static/upload/${dto.goodsMainStore}|}" /><br />
                                   [[${dto.goodsName}]]<br/>
                                   [[${dto.goodsPrice}]]<br/>
                                   <span th:if="${dto.deliveryCost == 0}">무료배송</span>
                                   <span th:if="${dto.deliveryCost != 0}" th:text="${dto.deliveryCost}"></span>
                               </a>
                           </td>
                           <th:block th:if="${idx.count % 3 == 0}" th:utext="'</tr><tr>'"/>
                       </th:block>
                   </th:block>
               </tr>
           </table>
   </div>
   <!-- 각 카테고리별 상품 목록 -->
   <div th:each="category : ${categoryMap.keySet()}" th:id="${category}" class="categoryContent" style="display: none;">
           <div th:text="${category}"></div>
           <table align="center" width="600">
               <tr>
                   <th:block th:each="dto, idx : ${categoryMap.get(category)}">
                       <td>
                           <a th:href="|/corner/detailView/${dto.goodsNum}|">
                               <img th:src="@{|/static/upload/${dto.goodsMainStore}|}" /><br />
                               [[${dto.goodsName}]]<br/>
                               [[${dto.goodsPrice}]]<br/>
                               <span th:if="${dto.deliveryCost == 0}">무료배송</span>
                               <span th:if="${dto.deliveryCost != 0}" th:text="${dto.deliveryCost}"></span>
                           </a>
                       </td>
                       <th:block th:if="${idx.count % 3 == 0}" th:utext="'</tr><tr>'"/>
                   </th:block>
               </tr>
           </table>
   </div>
</div>
</body>
</html>