<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>companion</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
</head>
<body>
<!-- 로그인 되었을 때 구분 -->
<div th:if="${session.auth != null}">
    <ul>
        <!-- 회원과 직원 메뉴 분리 로그인 시 grade저장 직원=emp 회원=mem -->
        <th:block th:if="${session.auth.grade == 'emp'}">
            <li><a href="employee/employeeList">직원목록</a></li>
            <li><a href="member/memberList">회원목록</a></li>
            <li><a href="employee/empMyPage">마이페이지</a></li>
            <li><a href="goods/goodsList">상품리스트</a></li>
            <li><a href="/purchase/purchaseList">주문 내역</a></li><!-- 고객이 주문한 내역 확인 -->
            <li><a href="/inquire/goodsQuestion">상품 문의</a></li>
        </th:block>
        <!-- 이메일 임시 비밀번호 전달 후 회원정보 수정에서 비밀번호 변경 절차 -->
        <th:block th:if="${session.auth.grade == 'mem'}">
            <li><a href="/mypage/myPage">마이페이지</a></li>
            <li><a href="/corner/wishList">관심 목록</a></li> <!-- 관심상품 목록 보기 -->
            <li><a href="/corner/cartList">장바구니</a></li>
            <li><a href="/purchase/orderList">주문목록</a></li>
        </th:block>
      
        <!-- 로그아웃 -->
        <li><a href="login/logout">로그아웃</a></li>
    </ul>
</div>
<!-- 직원과 회원이 같은 페이지에서 로그인 -->
<!-- 오류가 있는경우 th:object 값 가져오기/ UserLoginService에서 result.rejectValue 받아오기-->

<!-- 로그인이 되지 않았을 떄 -->
<div th:if="${session.auth == null}" >
<form action="/login/login" method="post" th:object="${loginCommand}">
    <table border="1" align="center">
        <tr><td colspan="2">
            자동로그인<input type="checkbox" name="autoLogin" />
            아이디저장<input type="checkbox" name="idStore" th:checked="${loginCommand.idStore != null && loginCommand.idStore}"/>
        </td></tr>
        <tr><td><input type="text" name="userId" placeholder="아이디" th:value="${loginCommand.userId}"/><br/>
                <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span></td>
            <td rowspan="2">
                <input type="image" src="/static/images/logo.png" width="60"/>
            </td></tr>
        <tr><td><input type="password" name="userPw" placeholder="비밀번호" /><br/>
                <span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span></td></tr>
        <tr><td colspan="2">
            <a href="/register/userWrite">회원가입</a> |
            <a href="/help/findId">아이디</a>/
            <a href="/help/findPassword">비밀번호 찾기</a></td></tr>
    </table>
</form>
</div>

<a href="/category">카테고리</a>

<!-- MainGoodsListService에서 model로 받아온 list를 출력합니다. -->
<table align="center" width="600">
    <tr><!-- 상품정보를 옆으로 출력해야 하므로 TD를 반복하겠습니다. -->
        <th:block th:each="dto , idx : ${list}">
            <!-- list로 받아온 값을 하나씩 변수 dto에 전달하고 index는 idx로 받는다, index는 반복할때마다 0부터 시작하는값이다, 1씩증가  -->
            <td><!-- 이제 구매 페이지로 이동합니다 -->
                <a th:href="|corner/detailView/${dto.goodsNum}|">
                    <img th:src="|/static/upload/${dto.goodsMainStore}|"/><br />
                    [[${dto.goodsName}]]<br />
                    [[${dto.goodsPrice}]] <br />
                    <!-- 배송비가 0이면 무료배송으로 출력한다. -->
                    <span th:if="${dto.deliveryCost == 0}" >무료배송</span>
                    <span th:if="${dto.deliveryCost != 0}" th:text="${dto.deliveryCost}"></span>
                </a>
            </td>
            <!-- 옆으로 만 출력되기 때문에 3개마다 행을 변경할 수 있게 3개마다 </tr>로 막아주고 다시 <tr>을 열어준다. -->
            <!-- idx에서 count를 불러올 수 있는데 count는 1부터 시작하는 값을 가져온다 idx를 3으로 나눈 나머지가 0일 때마다
                 </tr><tr>을 출력-->
            <th:block th:if="${idx.count % 3 == 0}" th:utext="'</tr><tr>'" />
        </th:block>
    </tr>
</table>
</body>
</html>