<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Companion</title>
    <link rel="stylesheet" href="/static/css/loginForm.css">

</head>
<body>

<th:block th:replace="common/mainCommon :: beforePagename"></th:block>

<div class="header">
    <div class="back-button" onclick="goBack()"><img src="/static/images/back-button.png"></div>
    <h3 th:text="${session.auth != null ? session.auth.grade == 'emp' ? '직원 페이지' : '회원 페이지' : '로그인'}"></h3>
</div>

<div class="index">
<!-- 로그인 되었을 때 구분 -->
<div th:if="${session.auth != null}">
    <ul>
        <!-- 회원과 직원 메뉴 분리 로그인 시 grade저장 직원=emp 회원=mem -->
        <th:block th:if="${session.auth.grade == 'emp'}">
            <li><a href="/employee/employeeList">직원목록</a></li>
            <li><a href="/member/memberList">회원목록</a></li>
            <li><a href="/employee/empMyPage">마이페이지</a></li>
            <li><a href="/goods/goodsList">상품리스트</a></li>
            <li><a href="/purchase/purchaseList">주문 내역</a></li><!-- 고객이 주문한 내역 확인 -->
            <li><a href="/inquire/goodsQuestion">상품 문의</a></li>
        </th:block>
        <!-- 이메일 임시 비밀번호 전달 후 회원정보 수정에서 비밀번호 변경 절차 -->
        <th:block th:if="${session.auth.grade == 'mem'}">
            <li><a href="/mypage">마이페이지</a></li>
            <li><a href="/corner/wishList">관심 목록</a></li> <!-- 관심상품 목록 보기 -->
            <li><a href="/corner/cartList">장바구니</a></li>
            <li><a href="/purchase/orderList">주문목록</a></li>
        </th:block>

        <!-- 로그아웃 -->
        <li><a href="/login/logout">로그아웃</a></li>
    </ul>
</div>
<!-- 직원과 회원이 같은 페이지에서 로그인 -->
<!-- 오류가 있는경우 th:object 값 가져오기/ UserLoginService에서 result.rejectValue 받아오기-->

<!-- 로그인이 되지 않았을 떄 -->
<div th:if="${session.auth == null}" >
    <div class="loginForm">
        <form action="/login/login" method="post" th:object="${loginCommand}">
            <input type="text" id="login-id" class="input-style" name="userId" placeholder="아이디" th:value="${loginCommand.userId}"/><br/>
            <span style="color:red" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span><br/>

            <input type="password" class="input-style" name="userPw" placeholder="비밀번호" /><br/>
            <span style="color:red" th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}"></span><br/>

            <input type="checkbox" name="autoLogin" id="autoLogin"/>
            <label for="autoLogin">자동로그인</label>

            <input type="checkbox" name="idStore" id="idStore" th:checked="${loginCommand.idStore != null && loginCommand.idStore}"/>
            <label for="idStore">아이디 저장</label><br/><br/>

            <input type="submit" id="loginButton" value="로그인"><br/>
        </div>
                <div class="userLoginInfo">
                    <a href="/register/userWrite">회원가입</a> |
                    <a href="/help/findId">아이디 찾기</a>|
                    <a href="/help/findPassword">비밀번호 찾기</a>
                </div>
        </form>

</div>
</div>
<th:block th:replace="common/mainCommon :: fromIndex"></th:block>

</body>
</html>