<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.js"></script>
</head>
<body>
        <div>
            <button type="button"  id="btn" data-authenticated="${session.auth}">문의하기</button>
        </div>
        <th:block th:each=" dto , idx : ${list}">
            <div><span>[[${idx.count}]]</span>
                <div>[[${dto.memberId}]]</div>
                <div>
                    <span>[[${dto.inquireKind}]]</span>
                    <span>[[${dto.inquireSubject}]]</span>
                </div>
                <div><!-- 답변 내용이 없으면 검토, 답변 내용이 있으면 답변완료 -->
                    <span th:if="${dto.inquireAnswer == null}" >검토</span>
                    <span th:if="${dto.inquireAnswer != null}" >답변완료</span>
                </div>
                <div>[[${#dates.format(dto.inquireDate,'yyyy-MM-dd')}]]</div>
            </div>
                <span th:utext="${#strings.replace(dto.inquireContent,newLineChar,'&lt;br /&gt;')}"></span>

                <!-- 질문 당자자만 이 기능을 사용할 수 있습니다. -->
                <th:block th:if="${session.auth != null}">
                    <th:block th:if="${session.auth.userId == dto.memberId}">
                        <div>
                            <button type="button" th:attr="onclick=|inquireUpdate('${dto.inquireNum}');|">문의수정</button>
                            <button type="button" th:attr="onclick=|inquireDelete('${dto.inquireNum}');|">문의삭제</button>
                        </div>
                    </th:block>
                </th:block>
            <div>
                <button type="button" th:id="inq_+${dto.inquireNum}" th:attr="onclick=|contentOpen('inq_${dto.inquireNum}');|">답변열기</button>
            </div>
            <div th:if="${dto.inquireAnswer != null}" style="display:none;" th:class="inq_+${dto.inquireNum}"> <!-- 답변내용이 안보인다. -->
            <!-- 답변이 있어야 보이게 합니다. -->
                <div>
                    <div>답변일 : [[${#dates.format(dto.inquireAnswerDate,'yyyy-MM-dd')}]]</div>
                    <div th:utext="${#strings.replace(dto.inquireAnswer,newLineChar,'&lt;br /&gt;')}"></div>
                </div>
            </div>
        </th:block>
    <!-- 스크립트 변수 및 링크 -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const goodsNum = [[${goodsNum}]];
        const auth = [[${session.auth}]];
        /*]]>*/
    </script>
    <script src="/static/js/inquire/inquireList.js"></script>
</body>
</html>