<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/mainCommon :: head"></th:block>
    <meta charset="UTF-8">
    <title>Companion</title>
</head>
<body>

<th:block th:replace="common/mainCommon :: beforePagename"></th:block>

<div class="main-board-frame">
    <div class="header-back-btn" onclick="goBack()"><img src="/static/images/icon/arrow-small-left.png"></div> <!-- 아이콘 변경 -->
    <div class="page-name">회원가입</div>
    <div class="hear-cart-btn" onclick="goCartList()" ><img src="/static/images/icon/cart.png"></div>
</div>

<div class="main-board-frame" style="text-align: center; ">
[[${userName}]]님 companion 가입을 환영합니다!<br/>
[[${userEmail}]]이메일에서 가입확인을 완료해주세요.<br/>
</div>

<th:block th:replace="common/mainCommon :: fromIndex"></th:block>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>

</body>
</html>