
#adminwork {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#searchbarinput {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 390px;
}

#searchbarinput:focus {
    border-color: #FC6B70;
}

#searchbutton {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FC6B70;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    margin-bottom: 3px;
}

#searchbutton:hover {
    background-color: #fb5256;
}

.regbutton {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FC6B70;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    margin-bottom: 3px;

}

.regbutton:hover {
    background-color: #fb5256;
}



#frm {
    margin-top: 10px;
}

#employeetable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#employeetable th,
#employeetable td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

#employeetable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#employeetable a,
#employeetable .pagination-cell a,
#employeetable .pagination-cell span {
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

#employeetable a:hover,
#employeetable .pagination-cell a:hover {
    color: #004080;
}

#employeetable input[type="checkbox"] {
    margin-right: 5px;
}

#employeetable input[type="submit"] {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #FC6B70;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#employeetable input[type="submit"]:hover {
    background-color: #fb5256;
}

#employeetable .pagination-cell {
    text-align: center;
    padding: 5px 0;
}

#employeetable .pagination-cell a,
#employeetable .pagination-cell span {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ddd;
}

#employeetable .pagination-cell span {
    color: #999;
}

}

